@media (prefers-color-scheme: dark) {

	.td-clock-wrap {
		color: powderblue;
		background-color: darkcyan;
		box-shadow: 0 0 0.5em teal;
		border-width: 1px;
		border-style: solid;
		border-color: teal;
	}

	.td-clock.inline .td-clock-wrap {
		box-shadow: 0.2em 0.2em 0.5em darkslategray;
	}

	.td-clock .td-clock-wrap:before {
		background-color: teal;
	}

	.td-clock-face {
		box-shadow: 0 0 1em lightcyan, 0 0 0.5em lightcyan, inset 0 0 6em lightcyan, inset 0 0 4em lightcyan;
	}

	.td-clock-face svg {
		stroke: darkcyan;
		filter: drop-shadow(0 0 2pt cadetblue);
		opacity: 0.8;
	}

	.td-clock-face svg .td-tick-key {
		stroke: darkslategray;
	}

	.td-pointer::after {
		background-color: darkslategray;
		box-shadow: 0 0 0.25em cadetblue;
	}

	.td-pointer.td-on::after {
		background-color: azure;
	}

	.td-meridian span {
		color: powderblue;
	}

	.td-meridian .td-am.td-on,
	.td-meridian .td-pm.td-on,
	.td-meridian .td-now.td-on {
		opacity: 0.8;
	}

	.td-meridian .td-on.interactive:hover,
	.td-clock .td-time span:hover {
		color: lightcyan;
		text-shadow: 0 0 0.5em teal;
	}

	.td-clock .td-time span.td-on {
		color: azure;
		text-shadow: 0 0 0.5em teal;
	}

	.td-clock .td-dial svg {
		stroke-width: 1.5;
		stroke: azure;
		filter: drop-shadow(0 0 2pt teal);
	}

	.td-dial .td-handle::after {
		background-color: powderblue;
		box-shadow: -1pt 1pt 0.25em darkslategray, inset -1pt 1pt 0.25em darkcyan;
	}

}

@media (prefers-color-scheme: light) {

	.td-clock-wrap {
		color: darkcyan;
		background-color: lightskyblue;
		box-shadow: 0 0 0.5em slategray;
		border-width: 1px;
		border-style: solid;
		border-color: skyblue;
	}

	.td-clock.inline .td-clock-wrap {
		box-shadow: 0.2em 0.2em 0.5em slategray;
	}

	.td-clock .td-clock-wrap:before {
		background-color: lightskyblue;
		border-left: 1pt solid skyblue;
		border-top: 1pt solid skyblue;
	}

	.td-clock-face {
		box-shadow: 0 0 1em white, 0 0 0.5em white, inset 0 0 6em white, inset 0 0 4em white;
	}

	.td-clock-face svg {
		stroke: cadetblue;
		filter: drop-shadow(0 0 2pt cadetblue);
		opacity: 0.6;
	}

	.td-clock-face svg .td-tick-key {
		stroke: royalblue;
	}

	.td-pointer::after {
		background-color: darkolivegreen;
		box-shadow: 0 0 0.25em azure;
	}

	.td-pointer.td-on::after {
		background-color: teal;
	}

	.td-meridian span {
		color: cadetblue;
	}

	.td-meridian .td-am.td-on,
	.td-meridian .td-pm.td-on,
	.td-meridian .td-now.td-on {
		opacity: 0.8;
	}

	.td-meridian .td-on.interactive:hover,
	.td-clock .td-time span:hover {
		color: cadetblue;
		text-shadow: 0 0 0.5em lightblue;
	}

	.td-clock .td-time span.td-on {
		color: teal;
		text-shadow: 0 0 0.5em cadetblue;
	}

	.td-clock .td-dial svg {
		stroke-width: 1.5;
		stroke: cadetblue;
		filter: drop-shadow(0 0 2pt azure);
	}

	.td-dial .td-handle::after {
		background-color: deepskyblue;
		box-shadow: 1pt -1pt 0.5em cadetblue, inset -1pt 1pt 0.25em royalblue;
	}

}

.td-clock {
	position: absolute;
	width: 8em;
	height: 8em;
	text-align: center;
	line-height: 8em;
	font-family: Arial, sans-serif;
	font-size: 13pt;
		user-select: none;
	outline: none;

	display: none;
}

.td-clock.td-show {
	display: block;
}

.td-clock.inline {
	display: inline-block;
	position: relative;
	margin: 0.5em;
}

.td-clock svg {
	stroke-width: 1.2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.td-clock-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.td-clock-wrap:before {
	position: absolute;
	content: "";
	top: -0.5em;
	margin-left: -0.52em;
	left: 50%;
	width: 1em;
	height: 1em;
	transform: rotate(45deg);
	border-top-left-radius: 3pt;
}

.td-clock.drop-up .td-clock-wrap:before {
	transform: rotate(225deg);
	top: auto;
	bottom: -0.5em;
}

.td-clock.nodrop .td-clock-wrap:before {
	display: none;
}
.td-clock-face,
.td-bound,
.td-meridian,
.td-lancette,
.td-pointer,
.td-time,
.td-dial {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.td-clock-face,
.td-bound {
	border-radius: 100%;
}

.td-clock-face {
	margin: 6pt;
	opacity: 0.8;
}

.td-pointer::after {
	position: absolute;
	top: 22px;
	left: 50%;
	margin-left: -0.8pt;
	width: 1.6pt;
	bottom: 48%;
	content: "";
	border-radius: 100%;
}

.td-pointer.td-hr::after {
	top: 30pt;
	margin-left: -1.4pt;
	width: 2.8pt;
}

.td-pointer.td-on::after {
	animation: td-blink 1.5s linear infinite;
}

.td-bound {
	mask-image: radial-gradient(closest-side, transparent 20%, black 75%, transparent 95%);
	transition: opacity 0.25s;
}

.td-bound.td-hr {
	margin: 1.8em;
}

.td-bound.td-min {
	margin: 0.6em;
}

.td-bound.upper {
	background-image: conic-gradient(transparent 85%, brown);
}

.td-bound.lower {
	background-image: conic-gradient(forestgreen, transparent 15%);
}

.td-meridian span {
	position: absolute;
	z-index: 1;
	width: 4em;
	height: 2em;
	border-radius: 100%;
	line-height: 2em;
	text-align: center;
	margin: 0;
	margin-left: -2em;
	opacity: 0;
	font-size: 1em;
	font-weight: bold;
}

.td-meridian span.interactive {
	cursor: pointer;
}

.td-meridian .td-am,
.td-meridian .td-pm {
	top: 18%;
}

.td-meridian .td-am {
	left: 40%;
}

.td-meridian .td-pm {
	left: 60%;
}

.td-meridian .td-am.td-on,
.td-meridian .td-pm.td-on {
	left: 50%;
}

.td-meridian .td-now {
	font-size: 0.7em;
	left: 50%;
	bottom: 10%;
	z-index: -1;
}

.td-meridian .td-now.td-on {
	bottom: 25%;
	z-index: 2;
}

.td-meridian .td-on {
	z-index: 2;
}

.td-meridian .td-on.interactive:hover {
	opacity: 1;
}

.td-dial {
	z-index: 1;
	opacity: 0;
}

.td-dial.active {
	animation: td-pulse 4s ease-in-out infinite;
}

.td-dial.active:has(svg:hover) {
	animation: none;
	opacity: 1;
}

.td-dial svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.td-dial.active svg {
	cursor: pointer;
}

.td-dial .td-handle {
	position: absolute;
	top: 0.2em;
	bottom: 0.2em;
	left: 22%;
	right: 22%;
}

.td-dial .td-handle::after {
	position: absolute;
	z-index: -1;
	width: 1em;
	height: 1em;
	border-radius: 100%;
	border-bottom-left-radius: 0;
	top: -0.25em;
	left: 50%;
	margin-left: -0.5em;
	content: "";
	transform: rotate(-45deg);
}

.td-clock .td-time {
	font-weight: bold;
}

.td-clock .td-time span {
	position: relative;
	text-align: center;
	vertical-align: middle;
	margin: 0.1em;
	z-index: 2;
	cursor: pointer;
	font-size: 1.75em;
	opacity: 0.6;
}

.td-clock .td-time span:hover,
.td-clock .td-time span.td-on:hover {
	opacity: 1;
}

.td-n {
	transition: all 0.5s cubic-bezier(.7, 0, .175, 1) 0s;
}

.td-n2 {
	transition: all 0.25s linear 0s;
}

/* effects */
@keyframes td-bounce {
	10% {
		transform: scale3d(1.1, 0.9, 1);
	}

	30% {
		transform: scale3d(0.93, 1.07, 1);
	}

	50% {
		transform: scale3d(1.05, 0.95, 1);
	}

	70% {
		transform: scale3d(.97, 1.03, 1);
	}

	90% {
		transform: scale3d(1.01, .99, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.td-drag {
	transform: scale3d(0.93, 1.07, 1);
}

.td-bounce {
	animation: td-bounce .3s;
}

@keyframes td-fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.td-fadein {
	animation: td-fadein .3s;
}

@keyframes td-fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.td-fadeout {
	animation: td-fadeout .3s forwards;
}

@keyframes td-dropin {
	0% {
		opacity: 0;
		transform: perspective(200px) rotateX(60deg) translate3d(0, -64px, -64px);
	}

	50% {
		opacity: 0.5;
		transform: perspective(350px) rotateX(30deg) translate3d(0, -18px, -32px);
	}

	75% {
		opacity: 0.5;
		transform: perspective(425px) rotateX(15deg) translate3d(0, -6px, -16px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

.td-dropin {
	animation: td-dropin 0.3s linear;
	transform-origin: 50% 0;
}

.td-dropin.drop-up {
	animation: td-dropin 0.3s linear;
	transform-origin: 50% 100%;
}

@keyframes td-dropout {
	0% {
		opacity: 1;
		transform: none;
	}

	100% {
		opacity: 0;
		transform: perspective(200px) rotateX(-45deg) translate3d(0, 32px, -48px);
	}
}

.td-dropout {
	animation: td-dropout .3s forwards;
	transform-origin: 50% 50%;
}

@keyframes td-dropout-up {
	0% {
		opacity: 1;
		transform: none;
	}

	100% {
		opacity: 0;
		transform: perspective(200px) rotateX(45deg) translate3d(0, -32px, -48px);
	}
}

.td-dropout.drop-up {
	animation: td-dropout-up .3s forwards;
	transform-origin: 50% 50%;
}

@keyframes td-blink {
	50% {
		opacity: 0.25;
	}
}

@keyframes td-pulse {

	0%,
	100% {
		opacity: 0.8;
	}

	50% {
		opacity: 0.5;
	}
}

.td-clock .td-time span.td-on {
	animation: td-blink 1.5s linear infinite;
}